<ion-view view-title="レシート撮影">
  <ion-content class="background">
    <div class="content">
        <h4 class="headline">レシート送信が完了しました</h4>
        <h4 class="headline">　取得ポイントは</h4>
        <table width='100%' class='showPoint' >
          <tr style="font-size : 30px; text-align: center;">
            <th>メーカー</th><th>取得</th><th>合計</th></tr>
          <tr>
            <td><img src="./img/maker/logo_ajinomoto.png" width="160px" height="80px"/></td>
            <td style="font-size : 20px;">＋200</td>
            <td>
              <span id="ajinomoto" style="font-size : 25px;">2400</span>
              <span style="font-size : 15px; float:le;">smile</span>
            </td>
          </tr>
          <tr>
            <td><img src="./img/maker/logo_asahipark.png" width="160px" height="80px"/></td>
            <td style="font-size : 20px;">＋150</td>
            <td>
              <span id="asahi" style="font-size : 25px;">1000</span>
              <span style="font-size : 15px; float:le;">Gold</span>
            </td>
          </tr>
          <tr>
            <td><img src="./img/maker/logo_watashiplus.gif" width="160px" height="80px"/></td>
            <td style="font-size : 20px;">＋100</td>
            <td>
              <span id="shiseido" style="font-size : 25px;">800</span>
              <span style="font-size : 15px; float:le;">ポイント</span>
            </td>
          </tr>
        </table>
        <h4 class="headline">　の予定です！</h4>
    </div>
    <button class="button button-block button-positive" on-tap="backup()">さらレシートを撮る</button>
  </ion-content>
  <ion-footer-bar on-tap="showPopup()">
  </ion-footer-bar>
</ion-view>
