<ion-view view-title="お得なお知らせ">
  <ion-content class="background">
    <div class="content">
      <div class="list-group">
        <h4 class="headline">でも子さんへのメッセージ</h4>
        <a href="#/tab/directnews" class="list-group-item list-group-news-logolist">
          <div class="logolist-news-logo-new">   new!</div>
          <img src="img/maker/campaing/campaing-ajinomoto.jpg" class="logolist-news-logo-img" target="_system"/>
          <div class="logolist-news-text">こんにちは、でも子さん！キャンペーンのご案内です！
            <p>でも子さん、こんにちは！ア…</p>
          </div>
          <h4 class="logolist-news-maker">AJINOMOTO PARK（味の素）</h4>
        </a>
      </div>
      <div class="footer_more_info" align="right">
        <a href="">過去のメッセージを見る...</a>
      </div>
    </div>
    <div class="content">
        <h4 class="headline">お得なお知らせ</h4>
        <div class="list-group">
          <a ng-click="openURL('https://www.asahibeer.co.jp/park/')" class="list-group-item list-group-news-logolist" target="_system" >
            <div class="logolist-news-logo-new">   new!</div>
            <img src="img/maker/campaing/campaing-asahipark-01.jpg" class="logolist-news-logo-img" />
            <div class="logolist-news-text">お花見セットが当たるキャンペーン！
              <p>一口 2000Goldで応募できます！2016/2/29〆切！</p>
            </div>
            <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
          </a>
          <a ng-click="openURL('https://member.kao.com/jp/plaza/oshigoto_women/beauty/Satellite?pagename=WcntWrapper&dName=Wcnt0036_PDef_04beauty&c=Wcnt0036_P&cid=1355920592002&intcmp=T0000003494')" class="list-group-item list-group-news-logolist" target="_system">
            <div class="logolist-news-logo-new">   new!</div>
            <img src="img/maker/campaing/campaing-kao-02.jpg" class="logolist-news-logo-img" />
            <div class="logolist-news-text">【おしごとウーマン】chapter20 わかっちゃいるけど
              <p>時間がなくても！手軽にうるおった肌へ。</p>
            </div>
            <h4 class="logolist-news-maker">Kao Plaza（花王）</h4>
          </a>
          <a ng-click="openURL('http://www.shiseido.co.jp/cms/onlineshop/h/beautytopic/1507/')" class="list-group-item list-group-news-logolist" target="_system">
            <img src="img/maker/campaing/campaing-shiseido-01.png" class="logolist-news-logo-img" />
            <div class="logolist-news-text">運命の逸品と出会う！美容液ガイド
              <p>美容液を選ぶポイントとは…？</p>
            </div>
            <h4 class="logolist-news-maker">watashi+（資生堂）</h4>
          </a>
          <a ng-click="openURL('https://www.asahibeer.co.jp/park/')" class="list-group-item list-group-news-logolist" target="_system">
            <img src="img/maker/campaing/campaing-asahipark-02.jpg" class="logolist-news-logo-img" />
            <div class="logolist-news-text">『ヒューガルデン ホワイト』を抽選でプレゼント！
              <p>一口 100Goldで応募できます！2016年2月19日まで！</p>
            </div>
            <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
          </a>
      </div>
      <div class="footer_more_info" align="right">
        <a href="">過去のお知らせを見る...</a>
      </div>
    </div>
  </ion-content>
</ion-view>
