<ion-view view-title="メーカー詳細">
  <ion-content class="background">
    <div class="content">
        <h4 class="headline">Asahi Park（アサヒビール）</h4>
        <hr>
        <div class="maker-detail-logo-img">
          <img src="img/maker/logo_asahipark.png" />
        </div>
        <hr>
        <div class="maker-detail-point-header">保有合計ポイント</div>
        <div class="maker-detail-point">
          <span class="maker-detail-point-number">2,400</span> ポイント
        </div>
        <div class="maker-detail-point-header">ポイント 取得履歴</div>
        <div class="list-group">
          <div class="list-group-item list-group-item-logolist">
            <h4 class="maker-detail-item-date">2016/1/22 16:23</h4>
            <div class="maker-detail-item-point">
                <span class="maker-detail-item-point-number">200</span> ポイント Get!
            </div>
            <div class="maker-detail-item-info">
              アサヒスーパードライ12本購入
            </div>
          </div>
          <div class="list-group-item list-group-item-logolist">
            <h4 class="maker-detail-item-date">2016/1/12 16:42</h4>
            <div class="maker-detail-item-point">
                <span class="maker-detail-item-point-number">100</span> ポイント Get!
            </div>
            <div class="maker-detail-item-info">
              アサヒスーパードライ6本購入
            </div>
          </div>
        </div>
        <div class="footer_more_info" align="right">
          <a href="">もっと過去の履歴を見る...</a>
        </div>
      </div>

      <div class="content">
        <div class="list-group">
          <h4 class="headline">でも子さんへのメッセージ</h4>
          <a href="" class="list-group-item list-group-news-logolist" target="_blank">
            <div class="logolist-news-logo-new">   new!</div>
            <img src="img/beer.jpg" class="logolist-news-logo-img" />
            <div class="logolist-news-text">こんにちは、でも子さん！新商品のご案内です！
              <p>でも子さん、こんにちは！ア…</p>
            </div>
            <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
          </a>
        </div>
        <div class="footer_more_info" align="right">
          <a href="">過去のメッセージを見る...</a>
        </div>
      </div>

      <div class="content">
          <h4 class="headline">お得なお知らせ</h4>
          <div class="list-group">
            <a href="https://www.asahibeer.co.jp/park/" class="list-group-item list-group-news-logolist" target="_blank">
              <div class="logolist-news-logo-new">   new!</div>
              <img src="img/maker/campaing/campaing-asahipark-01.jpg" class="logolist-news-logo-img" />
              <div class="logolist-news-text">お花見セットが当たるキャンペーン！
                <p>一口 2000Goldで応募できます！2016/2/29〆切！</p>
              </div>
              <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
            </a>
            <a href="https://www.asahibeer.co.jp/park/" class="list-group-item list-group-news-logolist" target="_blank">
              <img src="img/maker/campaing/campaing-asahipark-02.jpg" class="logolist-news-logo-img" />
              <div class="logolist-news-text">『ヒューガルデン ホワイト』を抽選でプレゼント！
                <p>一口 100Goldで応募できます！2016年2月19日まで！</p>
              </div>
              <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
            </a>
        </div>
        <div class="footer_more_info" align="right">
          <a href="">過去のお知らせを見る...</a>
        </div>
      </div>

      <a href="#/tab/maker" class="button button-block button-calm icon-left ion-chevron-left">もどる</a>
  </ion-content>
</ion-view>
