<ion-view view-title="マイページ">
  <ion-content class="background">
    <div class="content" align="center" style="background-image: url('img/user-back-cute.png'); background-size:auto; background-position:center;">
          <!--
          <a class="direct-new-message animated bounceInRight " href="#/tab/directnews">でも子さんへのメッセージが届いています！</a>
          -->
          <div class="tablebody">
            <div class="tbleft" on-tap="switchAlerm()" >
            </div>
            <div class="tbcontent">
              <div class="css-box-shadow">
                <img id="user-icon" src="img/shufu.png" class="img-thumbnail" alt="User-thumbnail">
              </div>
              <h4 id="user-name">のむら でも子 さん</h4>
            </div>
            <div class="tbright animated infinite tada" on-tap="goDirect()">
              <div ng-if="alerm">
                <img id="alert-icon" src="img/megaphone.png" class="circle-frame" alt="alerm-thumbnail" >
                <h4>ＮＥＷ</h4>
              </div>
            </div>
          </div>
    </div>

    <div class="content">
        <h4 class="headline">新着のお得！</h4>
        <div class="list-group">
          <a href="https://www.asahibeer.co.jp/park/" class="list-group-item list-group-news-logolist" target="_blank">
            <div class="logolist-news-logo-new">   new!</div>
            <img src="img/maker/campaing/campaing-asahipark-01.jpg" class="logolist-news-logo-img" />
            <div class="logolist-news-text">お花見セットが当たるキャンペーン！
              <p>一口 2000Goldで応募できます！2016/2/29〆切！</p>
            </div>
            <h4 class="logolist-news-maker">AsahiPark（アサヒビール）</h4>
          </a>
          <a href="http://www.shiseido.co.jp/cms/onlineshop/h/beautytopic/1507/" class="list-group-item list-group-news-logolist" target="_blank">
            <div class="logolist-news-logo-new">   new!</div>
            <img src="img/maker/campaing/campaing-shiseido-01.png" class="logolist-news-logo-img" />
            <div class="logolist-news-text">運命の逸品と出会う！美容液ガイド
              <p>美容液を選ぶポイントとは…？</p>
            </div>
            <h4 class="logolist-news-maker">watashi+（資生堂）</h4>
          </a>
      </div>
      <div class="footer_more_info" align="right">
        <a href="#/tab/news">もっと見る...</a>
      </div>
    </div>

    <div class="content">
        <h4 class="headline">最近Getしたポイント</h4>
        <div class="list-group">
          <a href="https://www.asahibeer.co.jp/park/" class="list-group-item list-group-item-logolist" target="_blank">
            <img src="img/maker/logo_asahipark.png" class="logolist-item-logo-img-get" />
            <h4 class="logolist-item-logo-date">2016/1/22 16:23</h4>
            <div class="logolist-item-logo-point">
                <span class="logolist-item-logo-point-number">200</span> ポイント Get!
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-logolist">
            <img src="img/maker/logo_suntorytown.png" class="logolist-item-logo-img-get" />
            <h4 class="logolist-item-logo-date">2016/1/22 12:30</h4>
            <div class="logolist-item-logo-point">
                <span class="logolist-item-logo-point-number">100</span> ポイント Get!
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-logolist">
            <img src="img/maker/logo_cocacolapark.png" class="logolist-item-logo-img-get" />
            <h4 class="logolist-item-logo-date">2016/1/22 12:11</h4>
            <div class="logolist-item-logo-point">
                <span class="logolist-item-logo-point-number">200</span> ポイント Get!
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-logolist">
            <img src="img/maker/logo_watashiplus.gif" class="logolist-item-logo-img-get" />
            <h4 class="logolist-item-logo-date">2016/1/22 08:02</h4>
            <div class="logolist-item-logo-point">
                <span class="logolist-item-logo-point-number">200</span> ポイント Get!
            </div>
          </a>
          <a href="https://www.asahibeer.co.jp/park/" class="list-group-item list-group-item-logolist" target="_blank">
            <img src="img/maker/logo_asahipark.png" class="logolist-item-logo-img-get" />
            <h4 class="logolist-item-logo-date">2016/1/12 16:42</h4>
            <div class="logolist-item-logo-point">
                <span class="logolist-item-logo-point-number">100</span> ポイント Get!
            </div>
          </a>
      </div>
      <div class="footer_more_info" align="right">
        <a href="#/tab/maker">もっと見る...</a>
      </div>
    </div>

  </ion-content>
</ion-view>
